.DayPickerInput, .DayPickerInput input{
    width: 100%;
    
}

.DayPickerInput input {
    font-size: 26px;
    text-align: center;
    padding: 0 0 10px 0;
    letter-spacing: 1px;
    border: none;
    font-weight: 600
}